spring:
  datasource:
  #
    url: jdbc:h2:tcp://localhost/~/caffemore
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
#      데이터 유지
    properties:
      hibernate:
        #show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug
  #  org.hibernate.type: trace