:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--cafemore-color: #FF6363;
	--cafemore-border-color: #FF6363;
}


*{
	margin:0;
	padding:0;
}

body{
    background:var(--body-background-color);
    text-align: left;
    margin: 0px;
    padding: 0px;
}
#header {
    background-color: white;
    margin : 0px;
    text-align: left;
	margin-bottom: 100px;
    /*border-bottom: 1px solid rgb(223, 223, 223);*/
    /*box-shadow: 0 2px 6px -2px rgba(214, 214, 214);*/
    }
.main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
}
.login-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-wrap{
	width: 430px;
	height :48px;
	border: solid 1px var(	--border-gray-color );
	border-radius: 12px;
	background: white;
}

.login-input-wrap input{
	border: none;
	width:400px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.password-wrap{
	margin-top: 13px;
}

.form-group{
	width: 430px;
	height :48px;
	border: solid 1px var(	--border-gray-color );
	border-radius: 12px;
	background: white;
}

.form-group input{
	border: none;
	width:400px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.form-review{
	width: 430px;
	height :300px;
	border: solid 1px var(	--border-gray-color );
	border-radius: 12px;
	background: white;
}

.form-review input{
	border: none;
	width:90%;
	height:80%;
	margin-top: 5px;
	font-size: 14px;
	margin-left: 10px;
}

.login-button-wrap {
	margin-top: 5px;
	padding-top: 13px;
}
.login-button-wrap button{
	width: 425px;
	height :59px;
	font-size: 20px;
	background: var(--cafemore-color);
	color: white;
	border: solid 1px var(--cafemore-border-color);
	border-radius: 12px;
}
.sign-in-button-wrap{
	padding-top: 13px;
}
.sign-in-button-wrap button{
	width: 425px;
	height :59px;
	font-size: 20px;
	background: #7b9edd;
	color: white;
	border: solid 1px #7b9edd;
	border-radius: 12px;
}
.Easy-sgin-in-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
.Easy-sgin-in-wrap h2{
	font-size: 15px;
}
.Easy-sgin-in-wrap .sign-button-list
{
	padding-top:25px;
	list-style: none;
	width: 465px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Easy-sgin-in-wrap.sign-button-list li button{
    border:rgb(223, 223, 223);
}
