<!doctype html>
<style>
  #box {
    height: 500px;
    padding: 5px;
    margin-bottom: 5px;
    overflow: scroll;
  }

  #btn_review{
    display:block;
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 8px;
    transition:all 0.9s, color 0.3;
  }

  #btn_review:hover{
    color:#FAF0F0;
    box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset,
    0 -80px 0 0 rgba(0,0,0,0.25) inset;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th, tr {
    border-bottom: 1px solid #FAF0F0;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #FAF0F0;
  }

</style>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>Cafemore</title>
  <link rel="stylesheet" href="/css/style.css">

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->

  <link href="/css/clean-blog.min.css" rel="stylesheet">
</head>
<body>
<div id="container"; >
  <div id="header" style="border-bottom: 1px solid white;">
    <!--로고 이미지 -->
    <a href="/"><img id="logo_image" src="img/logo.png"></a>
    <!--카페 검색 -->
    <a href="/search" style="position: absolute; left: 200px; top: 7px;"><img src="img/cafesearch.png" onmouseover="this.src='img/cafesearch_hover.png'"
                                                                              onmouseout="this.src='img/cafesearch.png'" width=130px;></a>
    <!--회원가입-->
    <a th:if="${session.email == null}" href="/login" style="position: absolute; right: 80px; top: 22px;"><img src="img/loginfont.png" onmouseover="this.src='img/loginfont_hover.png'"
                                                                                                               onmouseout="this.src='img/loginfont.png'" width=130px;></a>
    <!--프로필-->
    <a href="/profile"><img id="profile_image" src="img/profile.png"
                            width=40px; style="position: absolute; right: 20px; top: 10px; "></a>
    <!--        로그아웃 -->
    <a th:if="${session.email != null}" href="/kakao/logout">
      <div class="subheading" style="font-family: Arial; font-size: 0.9em; color: #7e7777; position: absolute; right: 100px; top:16px; font-weight: bold; text-decoration:none">
        로그아웃
      </div>
    </a>
  </div>
  <!-- Page Header -->
  <header class="masthead" style="background-color: #FAF0F0;">
    <!-- 배경화면 색 바꾸고 싶으면 clean-blog.min.css 가서 바꾸면 됨...  -->
    <div class="overlay" style="height: 70%;">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <a href="https://www.google.com/maps/place/%ED%95%A0%EB%A6%AC%EC%8A%A4%EC%BB%A4%ED%94%BC+%EC%B6%A9%EB%AC%B4%EB%A1%9C%EC%97%AD%EC%A0%90/@37.5608719,126.9933221,17z/data=!4m12!1m6!3m5!1s0x357ca2fccc5490f9:0x8005cfc28cb63be5!2z7ZWg66as7Iqk7Luk7ZS8IOy2qeustOuhnOyXreygkA!8m2!3d37.5608719!4d126.9933221!3m4!1s0x357ca2fccc5490f9:0x8005cfc28cb63be5!8m2!3d37.5608719!4d126.9933221">
              <h3 style="color:#474444;text-align: center;font-size: 3em; margin-bottom: 10px;">충무로 할리스</h3>
            </a>
            <h4 style="color: #DA9B9B;text-align: center; font-size: 2em; margin-bottom: 20px;">
              4.2
            </h4>
            <span class="subheading" style="color: rgb(0, 0, 0);text-align: center; margin-bottom: 20px;">서울특별시 중구 필동 퇴계로36길 2</span>
            <span class="subheading" style="color: #BC8F8F; text-align: center; margin-top: 10px;">#동국대학생 할인 </span>
            <span class="subheading" style="color: #BC8F8F; text-align: center; margin-top: 10px;">#바닐라 딜라이트</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <br>
        <br>
        <div id ="footer">
          <p style="font-family: arial;text-align: left;color: rgb(46, 46, 46);font-size: 1.5em;font-weight: 600;">
            카페 후기
            <a href="/reviews/new">
              <button th:if="${session.email != null}" id="btn_review" style="position: absolute; right: 50px; font-size: 0.5em; top: 80px; font-weight: 400; background-color: white; color: black; border: 1px solid lightgrey; border-radius: 15px;">
                리뷰 쓰기
              </button>
            </a>
          </p>
          <hr>
          <div id="box">
            <table>
              <thead>
              <tr>
                <th>#</th>
                <th style="width: 25%;">닉네임</th>
                <th style="width: 45%;">리뷰</th>
                <th>작성일</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="reviewsList : ${reviewsList}">
                <td><span th:text="${reviewsList.id}"></span></td>
                <td><span th:text="${reviewsList.author}"></span></td>
                <td><span th:text="${reviewsList.content}"></span></td>
                <td><span th:text="${#temporals.format(reviewsList.reviewDate,'MM-dd HH:mm')}"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <p style="font-family: arial;color: rgb(46, 46, 46);font-size: 1.5em;font-weight: 600;">카페 인스타그램</p>
          <hr>
          <div id="box">

          </div>
          <br>
          <br>
          <p style="font-family: arial;text-align: center;color: gray;font-size: 0.7em;">Copyright © 2021 by Cafemore, Inc. All rights reserved</p>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>