<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>카카오로 로그인</title>
    <title>Cafemore</title>
    <link rel="stylesheet" href="css/login_style.css">
</head>
<body style="background-color: white">
    <div id="header">
        <!--로고 이미지 -->
        <a href="/"><img id="logo_image" src="img/logo.png"
                         width="200px" height="auto"></a>
        <!--카페 검색 -->
        <a href="/search" style="position: absolute; left: 200px; top: 7px;"><img src="img/cafesearch.png" onmouseover="this.src='img/cafesearch_hover.png'"
                                                                                  onmouseout="this.src='img/cafesearch.png'" width=130px;></a>
        <!--로그인/회원가입-->
        <a href="/login" style="position: absolute; right: 80px; top: 22px;"><img src="img/loginfont.png" onmouseover="this.src='img/loginfont_hover.png'"
                                                                                  onmouseout="this.src='img/loginfont.png'" width=130px;></a>
        <!--프로필-->
        <a href="/profile"><img id="profile_image" src="img/profile.png"
                                width=40px; style="position: absolute; right: 20px; top: 10px; "></a>
    </div>


</body>
</html>